.root {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: purple;
  width: 100vw;
  height: 100vh;
}
.form {
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  max-width: 508px;
  max-height: 553px;
  width: 100%;
  height: 100%;
  padding: 84px;
  box-sizing: border-box;
  box-shadow: 0px 4px 84px -21px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}
@media (max-width: 500px) {
  .form {
    padding: 20px;
    // justify-content: center;
    width: 90vw;
  }
}
