@mixin blur() {
  filter: blur(80px);
  //
}

@mixin lbrect() {
  z-index: 10;
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: #c8deff;
  transform: rotate(30deg);
  @include blur;
}
@mixin gpolygon() {
  z-index: 10;
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-style: solid;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent #2cffce transparent;
  @include blur;
}
@mixin pcircle() {
  z-index: 10;
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffc8e2;
  @include blur;
}
@mixin bcircle() {
  z-index: 10;
  position: absolute;
  max-width: 214px;
  max-height: 214px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #0a66c2;
  @include blur;
}

$pinkCircleX: -131.14px;
$pinkCircleY: 100vh * 0.15;
$blueCircleX: 64.18px;
$blueCircleY: -106.61px;
$lightBlueRectX: 300px;
$lightBlueRectY: 100vh * 0.05;
$greenPolygonX: 200px;
$greenPolygonY: 100vh * 0.3;

.pink-circle-left {
  @include pcircle;
  left: $pinkCircleX;
  top: $pinkCircleY;
}
.pink-circle-right {
  @include pcircle;
  right: $pinkCircleX;
  bottom: $pinkCircleY;
}

.blue-circle-left {
  @include bcircle;
  left: $blueCircleX;
  top: $blueCircleY;
}
.blue-circle-right {
  @include bcircle;
  right: $blueCircleX;
  bottom: $blueCircleY;
}

.light-blue-rect-left {
  @include lbrect;
  left: $lightBlueRectX;
  top: $lightBlueRectY;
}

.light-blue-rect-right {
  @include lbrect;
  right: $lightBlueRectX;
  bottom: $lightBlueRectY;
}

.green-polygon-left {
  @include gpolygon;
  left: $greenPolygonX;
  top: $greenPolygonY;
  transform: rotate(-30deg);
}
.green-polygon-right {
  transform: rotate(30deg);
  @include gpolygon;
  right: $greenPolygonX;
  bottom: $greenPolygonY;
}
.root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
}
canvas {
  position: absolute;
  z-index: 20;
}
