.auth-field {
  display: flex;
  transition: all ease-in-out 200ms;
  border: 1.75px solid #000;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  background: #f5f8fc;
  justify-content: space-between;
}
.auth-field:focus-within {
  transition: all ease-in-out 200ms;
  border: 1.75px solid #3fa2ff;
}

.auth-field-input {
  background: #f5f8fc;
  font-family: 'Euclid Circular A';
}
.auth-field-input:focus {
  background: #f5f8fc;
  outline: none;
}
.auth-field-input:-webkit-autofill,
.auth-field-input:-webkit-autofill:hover,
.auth-field-input:-webkit-autofill:focus,
.auth-field-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f5f8fc inset !important;
}
.auth-field-label {
  margin: 2px 10px 2px 5px;
  color: #000e2e;
  font-size: 24px;
}
.auth-field-eye {
  margin: 2px 5px 2px 10px;
  color: #000e2e;
  font-size: 24px;
}
.hidden {
  visibility: hidden;
}

@media (max-width: 500px) {
  .auth-field {
    max-width: 90vw;
    width: 100%;
  }
  .auth-field-input {
    max-width: 90vw;
    width: 100%;
  }
}

.root {
  display: flex;
  flex-direction: column;
}
.validation {
  display: flex;
  justify-content: center;
  color: rgb(255, 41, 112);
}
