.nav-main {
  background: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 5px 1px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 1px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.nav-logo {
  color: #000e2e;
  font-family: 'Rancho';
  font-size: 32px;
  justify-self: start;
  margin-left: 32px;
  margin-right: 32px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: start;
  margin-right: 2rem;
}

.nav-links {
  color: #000e2e;
  font-family: 'Euclid Circular A';
  text-decoration: none;
  padding: 0.5rem, 1rem;
}

.nav-links:hover {
  color: white;
  background-color: blue;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.fa-bars {
  color: #000e2e;
}

.fa-times {
  color: #000e2e;
}

.nav-icon {
  display: none;
}

@media (max-width: 960px) {
  .nav-main {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: 0%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 30;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    color: white;
    background-color: blue;
    border-radius: 0;
  }

  .nav-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
