@mixin btn($backgroundColor) {
  display: flex;
  flex-direction: row;
  flex-shrink: true;
  justify-content: center;
  align-items: center;
  padding: 14.5px;
  max-width: 238px;
  max-height: 56px;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: $backgroundColor;
  border: 2px solid #000e2e;
  transition: all ease-in-out 250ms;
}
@mixin btnText($textColor) {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  // font-size: 25px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.015em;
  color: $textColor;
}
@mixin btnHover($bgColor, $textColor) {
  transition: all ease-in-out 300ms;
  background: $bgColor;
  color: $textColor;
}

.root {
  display: flex;
  z-index: 20;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.title {
  font-family: 'Rancho';
  font-size: 150px;
}

@media (max-width: 700px) {
  .title {
    font-size: 72px;
  }
  .actions {
    flex-direction: column;
  }
}

.actions {
  display: flex;
  gap: 15px;
  max-width: 100vw;
}
.register {
  @include btn(#000e2e);
  @include btnText(#fff);
}
.register:hover {
  @include btnHover(#fff, #000e2e);
}

.login {
  @include btn(#ffffff);
  @include btnText(#000e2e);
}
.login:hover {
  @include btnHover(#000e2e, #fff);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 20;
}
