@mixin btn($backgroundColor) {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 14px;
  background: $backgroundColor;
  border: 2px solid #000e2e;
  transition: all ease-in-out 250ms;
}
@mixin btnText($textColor) {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  // font-size: 25px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.015em;
  color: $textColor;
}
@mixin btnHover($bgColor, $textColor) {
  transition: all ease-in-out 300ms;
  background: $bgColor;
  color: $textColor;
}
.auth-button {
  @include btn(#000e2e);
  @include btnText(#fff);
  margin-top: 25px;
  margin-bottom: 0;
}
.title {
  font-family: 'Rancho';
  font-size: 92px;
  text-align: center;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.register-button {
  font-family: 'Euclid Circular A';
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.015em;
  width: fit-content;
  align-self: center;
  word-break: keep-all;
  // text-decoration-line: underline;
  border-bottom: 2px solid #000;
}
.register-button:hover {
  $hoverColor: blue;
  color: $hoverColor;
  border-bottom: 2px solid $hoverColor;

  transition: all ease-in-out 200ms;
}
@media (max-width: 500px) {
  .title {
    font-size: 72px;
    max-width: 90vw;
    width: 100%;
  }
}
