@mixin btn($backgroundColor) {
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 40px 8px 40px;
  width: auto;
  border-radius: 14px;
  background: $backgroundColor;
  border: 2px solid #000e2e;
  transition: all ease-in-out 250ms;
}
@mixin btnText($textColor) {
  font-family: 'Euclid Circular A';
  font-style: normal;
  font-weight: 500;
  // font-size: 25px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.015em;
  color: $textColor;
}
@mixin btnHover($bgColor, $textColor) {
  transition: all ease-in-out 300ms;
  background: $bgColor;
  color: $textColor;
}
.button-dark {
  @include btn(#000e2e);
  @include btnText(#fff);
  margin-top: 0;
  margin-bottom: 0;
}
